{
    "db": {
        "host": "127.0.0.1",
        "database": "weewx",
        "user": "weewx",
        "password": "password",
        "table": "archive",
        "columns": {
            "datetime": "datetime",
            "windSpeed": "windSpeed",
            "windDir": "windDir",
            "windGust": "windGust",
            "windGustDir": "windGustDir",
            "rainRate": "rainRate",
            "rain": "rain",
            "dewpoint": "dewpoint",
            "windchill": "windchill",
            "heatindex": "heatindex",
            "outTemp": "outTemp",
            "inTemp": "inTemp",
            "inHumidity": "inHumidity",
            "outHumidity": "outHumidity",
            "barometer": "barometer"
            }
    },
    "station": {
        "name": "Name",
        "url": "https://maps.google.com/maps?q=0%2C0&z=15"
    },
    "webcam": {
        "width": "1080",
        "height": "720",
        "url": "http://yr.no/snap.jpg"

    },
    "firstyear": 2017
}